

<p class="text-right">A paragraph aligned right. Pariatur aute exercitation excepteur labore dolor in minim enim. Elit do nisi fugiat qui qui consectetur irure consequat adipisicing duis esse anim pariatur. Laboris exercitation consectetur consectetur velit aute irure quis.</p>

<p class="text-left">A paragraph aligned left. Pariatur aute exercitation excepteur labore dolor in minim enim. Elit do nisi fugiat qui qui consectetur irure consequat adipisicing duis esse anim pariatur. Laboris exercitation consectetur consectetur velit aute irure quis.</p>

<p class="text-center">A paragraph aligned center. Pariatur aute exercitation excepteur labore dolor in minim enim. Elit do nisi fugiat qui qui consectetur irure consequat adipisicing duis esse anim pariatur. Laboris exercitation consectetur consectetur velit aute irure quis.</p>
