

<div style="display: flex; flex-direction: row; align-items: flex-start; justify-content: space-around;">
    <div>
        <h4>Button Solid</h4>
        <p>
            <a href="" class="btn  btn--primary" disabled>Button Primary</a>
        </p>
        <p>
            <a href="" class="btn  btn--create" disabled>Button Success</a>
        </p>
        <p>
            <a href="" class="btn  btn--change" disabled>Button Change</a>
        </p>
        <p>
            <a href="" class="btn  btn--delete" disabled>Button Delete</a>
        </p>
        <p>
            <a href="" class="btn  btn--cancel" disabled>Button Cancel</a>
        </p>
    </div>

    <div>
        <h4>Button Outline</h4>
        <p>
            <a href="" class="btn  btn--outline btn--primary" disabled>Button Outline Primary</a>
        </p>
        <p>
            <a href="" class="btn  btn--outline btn--create" disabled>Button Outline Success</a>
        </p>
        <p>
            <a href="" class="btn  btn--outline btn--change" disabled>Button Outline Change</a>
        </p>
        <p>
            <a href="" class="btn  btn--outline btn--delete" disabled>Button Outline Delete</a>
        </p>
        <p>
            <a href="" class="btn  btn--outline btn--cancel" disabled>Button Cancel</a>
        </p>
    </div>

    <div>
        <h4>Button Link</h4>
        <p>
            <a href="" class="btn  btn--link btn--primary" disabled>Button Link Primary</a>
        </p>
        <p>
            <a href="" class="btn  btn--link btn--create" disabled>Button Link Success</a>
        </p>
        <p>
            <a href="" class="btn  btn--link btn--change" disabled>Button Link Change</a>
        </p>
        <p>
            <a href="" class="btn  btn--link btn--delete" disabled>Button Link Delete</a>
        </p>
        <p>
            <a href="" class="btn  btn--link btn--cancel" disabled>Button Link Cancel</a>
        </p>
    </div>
</div>


