

<form>
    <div class="form__group">
        <label class="form__label">Do you have access to the following?</label>
        <div class="form__control form__control--borderless">
            <ul>
                <li>
                    <input class="form__checkbox" type="checkbox" name="transport" id="car">
                    <label for="car" class="form__option-label">
                        A car
                    </label>
                </li>
                <li>
                    <input class="form__checkbox" type="checkbox" name="transport" id="motorbike">
                    <label for="motorbike" class="form__option-label">
                        A motorbike
                    </label>
                </li>
                <li>
                    <input class="form__checkbox" type="checkbox" name="transport" id="bicycle">
                    <label for="bicycle" class="form__option-label">
                        A bicycle
                    </label>
                </li>
            </ul>
        </div>
        <div class="form__help">This is required for your insurance policy</div>
    </div>
</form>

