

<!-- Start: @colour--default -->
<p class="">Everyday, re-imagined.</p>
<!-- End: @colour--default -->

<!-- Start: @colour--primary -->
<p class="text-primary">Everyday, re-imagined.</p>
<!-- End: @colour--primary -->

<!-- Start: @colour--secondary -->
<p class="text-secondary">Everyday, re-imagined.</p>
<!-- End: @colour--secondary -->

<!-- Start: @colour--tertiary -->
<p class="text-tertiary">Everyday, re-imagined.</p>
<!-- End: @colour--tertiary -->

<!-- Start: @colour--white -->
<div style="background-color: #ddd;">
    <p class="text-white">Everyday, re-imagined.</p>
</div>
<!-- End: @colour--white -->

<!-- Start: @colour--gray-dark -->
<p class="text-gray-dark">Everyday, re-imagined.</p>
<!-- End: @colour--gray-dark -->

<!-- Start: @colour--gray-medium -->
<p class="text-gray-medium">Everyday, re-imagined.</p>
<!-- End: @colour--gray-medium -->

<!-- Start: @colour--gray-light -->
<p class="text-gray-light">Everyday, re-imagined.</p>
<!-- End: @colour--gray-light -->

