

<!-- Start: @colour--default -->
<p class="">Normal</p>
<!-- End: @colour--default -->

<!-- Start: @colour--cyan -->
<p class="text-cyan">Cyan</p>
<!-- End: @colour--cyan -->

<!-- Start: @colour--red -->
<p class="text-red">Red</p>
<!-- End: @colour--red -->

<!-- Start: @colour--green -->
<p class="text-green">Green</p>
<!-- End: @colour--green -->

<!-- Start: @colour--orange -->
<p class="text-orange">Orange</p>
<!-- End: @colour--orange -->

<!-- Start: @colour--white -->
<div style="background-color: #ddd;">
    <p class="text-white">White</p>
</div>
<!-- End: @colour--white -->

<!-- Start: @colour--grey-dark -->
<p class="text-grey--dark">Grey Dark</p>
<!-- End: @colour--grey-dark -->

<!-- Start: @colour--grey-medium -->
<p class="text-grey--medium">Grey Medium</p>
<!-- End: @colour--grey-medium -->

<!-- Start: @colour--grey -->
<p class="text-grey">Grey</p>
<!-- End: @colour--grey -->

<!-- Start: @colour--grey-light -->
<p class="text-grey--light">Grey Light</p>
<!-- End: @colour--grey-light -->

<!-- Start: @colour--grey-lighter -->
<p class="text-grey--lighter">Grey Lighter</p>
<!-- End: @colour--grey-lighter -->

