

<div class="dialog">
    <div class="dialog__content">
        <div class="dialog__header dialog-header dialog-section--padded">
            <div class="dialog-header__title">
                Card details
            </div>
        </div>
        <div class="dialog__body dialog-section--padded">
            <form action="" class="form">

                <div class="grid">
                    <div class="grid__span-6">
                        <div class="form__group">
                            <label class="form__label">Card number</label>
                            <div class="form__control">
                                <input type="text" name="first_name" placeholder="" required autofocus>
                            </div>
                            <div class="form__help"></div>
                        </div>
                    </div>
                    <div class="grid__span-2">
                        <div class="form__group">
                            <label class="form__label">MM</label>
                            <div class="form__control">
                                <input type="text" name="first_name" placeholder="" required>
                            </div>
                            <div class="form__help"></div>
                        </div>

                    </div>
                    <div class="grid__span-2">
                        <div class="form__group">
                            <label class="form__label">YY</label>
                            <div class="form__control">
                                <input type="text" name="first_name" placeholder="" required>
                            </div>
                            <div class="form__help"></div>
                        </div>
                    </div>
                    <div class="grid__span-2">
                        <div class="form__group">
                            <label class="form__label">CVC</label>
                            <div class="form__control">
                                <input type="text" name="first_name" placeholder="" required>
                            </div>
                            <div class="form__help"></div>
                        </div>
                    </div>
                </div>

                <div class="form__group">
                    <label class="form__label">Cardholder name</label>
                    <div class="form__control">
                        <input type="text" name="first_name" placeholder="" required>
                    </div>
                    <div class="form__help"></div>
                </div>

            </form>
        </div>
        <div class="dialog__footer dialog-footer dialog-section--padded">
            <div class="dialog-footer__actions">
                <button class="btn btn--primary">CONFIRM PAYMENT</button>
            </div>
        </div>
    </div>
</div>

