

<div class="grid grid--break-mobile">
    <div class="grid__span-11 grid__shift-1">
        Shift 1
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-10 grid__shift-2">
        Shift 2
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-9 grid__shift-3">
        Shift 3
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-8 grid__shift-4">
        Shift 4
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-7 grid__shift-5">
        Shift 5
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-6 grid__shift-6">
        Shift 6
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-5 grid__shift-7">
        Shift 7
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-4 grid__shift-8">
        Shift 8
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-3 grid__shift-9">
        Shift 9
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-2 grid__shift-10">
        Shift 10
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-1 grid__shift-11">
        Shift 11
    </div>
</div>


<style>
    .grid {
        text-align: center;
        margin-bottom: 2rem;
    }
    .grid > div {
         background-color: #fff;
    }
</style>

