

<form action="" class="form form--animate">
    <fieldset>
        <legend>Personal details</legend>
        <div class="form__row">
            <div class="form__group">
                <label class="form__label">First name</label>
                <div class="form__control form__control--input">
                    <input type="text" name="first_name" placeholder="" required autofocus>
                </div>
                <div class="form__help"></div>
            </div>
            <div class="form__group">
                <label class="form__label">Last name</label>
                <div class="form__control form__control--input">
                    <input type="text" name="first_name" placeholder="" required>
                </div>
                <div class="form__help">Must be legal</div>
            </div>
        </div>
        <div class="form__row">
            <div class="form__group form__group--error form__group--no-animate">
                <label class="form__label">Email</label>
                <div class="form__control form__control--input">
                    <input type="email" name="first_name" placeholder="">
                </div>
                <div class="form__help">Email is a required field</div>
            </div>
            <div class="form__group">
                <label class="form__label">Gender</label>
                <div class="form__control form__control--select">
                    <select class="form__select" required>
                        <option class="M">Male</option>
                        <option class="F">Female</option>
                        <option class="X">Prefer not to say</option>
                        <option class="X">A very long option to test text overflow</option>
                    </select>
                </div>
                <div class="form__help"></div>
            </div>
        </div>
        <div class="form__row">
            <div class="form__group">
                <label class="form__label">Biography</label>
                <div class="form__control form__control--textarea">
                    <textarea name="description" placeholder="Enter a description"></textarea>
                </div>
                <div class="form__help">500 characters maximum</div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Payment details</legend>
        <div class="form__row">

            <div class="form__group">
                <label class="form__label">Card number</label>
                <div class="form__control form__control--input form__control--input-addon">
                    <input type="text" name="first_name" placeholder="Frank Green">
                    <div class="input-addon input-addon--suffix">
                        <span class="fa fa-credit-card"></span>
                    </div>
                </div>
                <div class="form__help"></div>
            </div>

            <div class="form__group">
                <label class="form__label">MM/YY</label>
                <div class="form__control form__control--input">
                    <input type="text" name="first_name" placeholder="" required>
                </div>
                <div class="form__help"></div>
            </div>
            <div class="form__group">
                <label class="form__label">CVC</label>
                <div class="form__control form__control--input">
                    <input type="text" name="first_name" placeholder="" required>
                </div>
                <div class="form__help"></div>
            </div>
        </div>
        <div class="form__row">
            <div class="form__group">
                <label class="form__label">Cardholder name</label>
                <div class="form__control form__control--input">
                    <input type="text" name="first_name" placeholder="" required>
                </div>
                <div class="form__help"></div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Social networks</legend>
        <div class="form__row">
            <div class="form__group">
                <label class="form__label">Button link action</label>
                <div class="form__control form__control--input form__control--input-addon">
                    <input type="text" name="first_name" placeholder="Frank Green">
                    <div class="input-addon input-addon--suffix">
                        <a href="#" class="btn btn--link btn--micro btn--primary text-uppercase">+ new client</a>
                    </div>
                </div>
                <div class="form__help">Some helpful information</div>
            </div>
        </div>
        <div class="form__row">
            <div class="form__group">
                <label class="form__label">Button action</label>
                <div class="form__control form__control--input form__control--input-addon">
                    <input type="text" name="first_name" placeholder="Frank Green">
                    <div class="input-addon input-addon--suffix">
                        <a href="#" class="btn btn--create btn--micro text-uppercase"><span class="fa fa-plus"></span> add client</a>
                    </div>
                </div>
                <div class="form__help"></div>
            </div>
        </div>
        <div class="form__row">
            <div class="form__group">
                <label class="form__label">Editable</label>
                <div class="form__control form__control--input form__control--input-addon">
                    <input type="text" name="first_name" placeholder="Frank Green">
                    <div class="input-addon input-addon--prefix">
                        <span class="fa fa-pencil"></span>
                    </div>
                    <div class="input-addon input-addon--suffix">
                        <a href="#" class="btn btn--create btn--micro text-uppercase"><span class="fa fa-plus"></span> add client</a>
                    </div>
                </div>
                <div class="form__help">Some helpful information</div>
            </div>
        </div>
        <div class="form__row">
            <div class="form__group">
                <label class="form__label">Search</label>
                <div class="form__control form__control--input form__control--input-addon">
                    <input type="text" name="first_name" placeholder="Frank Green">
                    <div class="input-addon input-addon--suffix">
                        <span class="fa fa-search"></span>
                    </div>
                </div>
                <div class="form__help"></div>
            </div>
        </div>
        <div class="form__row">
            <div class="form__group">
                <label class="form__label">Add network button</label>
                <div class="form__control form__control--select form__control--select-arrow-suffix form__control--input-addon">
                    <select class="form__select">
                        <option class="">Choose option</option>
                        <option class="M">Male</option>
                        <option class="F">Female</option>
                        <option class="X">Prefer not to say</option>
                    </select>
                    <div class="input-addon input-addon--suffix">
                        <a href="#" class="btn btn--create btn--micro text-uppercase">
                            <span class="fa fa-plus"></span> add network
                        </a>
                    </div>
                </div>
                <div class="form__help"></div>
            </div>
        </div>
        <div class="form__row">
            <div class="form__group">
                <label class="form__label">Network</label>
                <div class="form__control form__control--select">
                    <select class="form__select" required>
                        <option class="M">Male</option>
                        <option class="F">Female</option>
                        <option class="X">Prefer not to say</option>
                        <option class="X">A very long option to test text overflow</option>
                    </select>
                </div>
                <div class="form__help"></div>
            </div>
            <div class="form__group form__group--btn">
                <button class="btn btn--create btn--micro">
                    <span class="fa fa-plus"></span> Add network
                </button>
            </div>
        </div>
        <div class="form__row">
            <div class="form__group">
                <label class="form__label">URL</label>
                <div class="form__control form__control--input">
                    <input type="text" name="first_name" placeholder="" required>
                </div>
                <div class="form__help"></div>
            </div>
            <div class="form__group form__group--btn">
                <button class="btn btn--primary btn--micro">
                    <span class="fa fa-search"></span>
                    Lookup site
                </button>
            </div>
        </div>
        <div class="form__row">
            <div class="form__group form__group--error">
                <label class="form__label">Choose options</label>
                <div class="form__control form__control--radio ">
                    <ul>
                        <li>
                            <input type="radio" name="marketing" id="yes">
                            <label for="yes" class="form__option-label">
                                Send me marketing offers
                            </label>
                        </li>
                        <li>
                            <input type="radio" name="marketing" id="all">
                            <label for="all" class="form__option-label">
                                Send me marketing offers from you and your partners
                            </label>
                        </li>
                        <li>
                            <input type="radio" name="marketing" id="no">
                            <label for="no" class="form__option-label">
                                Please never contact me again
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="form__help">We never pass on your details to third parties</div>
            </div>
        </div>
        <div class="form__row">
            <div class="form__group form__group--error">
                <label class="form__label">Choose options inline</label>
                <div class="form__control form__control--radio  form__control--inline">
                    <ul>
                        <li>
                            <input type="radio" name="marketing" id="yes">
                            <label for="yes" class="form__option-label">
                                Send me marketing offers
                            </label>
                        </li>
                        <li>
                            <input type="radio" name="marketing" id="all">
                            <label for="all" class="form__option-label">
                                Send me marketing offers from you and your partners
                            </label>
                        </li>
                        <li>
                            <input type="radio" name="marketing" id="no">
                            <label for="no" class="form__option-label">
                                Please never contact me again
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="form__help">We never pass on your details to third parties</div>
            </div>
        </div>
    </fieldset>
</form>

