

<!-- Start: @size--default -->
<p class="text-hero">Everyday, re-imagined.</p>
<!-- End: @size--default -->

<!-- Start: @size--large -->
<p class="text-large">Everyday, re-imagined.</p>
<!-- End: @size--large -->

<!-- Start: @size--medium -->
<p class="text-medium">Everyday, re-imagined.</p>
<!-- End: @size--medium -->

<!-- Start: @size--emphasis -->
<p class="text-emphasis">Everyday, re-imagined.</p>
<!-- End: @size--emphasis -->

<!-- Start: @size--normal -->
<p class="">Everyday, re-imagined.</p>
<!-- End: @size--normal -->

<!-- Start: @size--small -->
<p class="text-small">Everyday, re-imagined.</p>
<!-- End: @size--small -->

