

<div class="wrapper">
    <div class="slideshow slideshow--with-indicators">
        <div class="slideshow__container">
                <div class="slide">
                    <div style="
                        background: url(http://lorempixel.com/1000/600/?1) center center;
                        background-size: cover;
                        height: 0;
                        padding-bottom: 60%;
                    "></div>
                </div>
                <div class="slide">
                    <div style="
                        background: url(http://lorempixel.com/1000/700/?2) center center;
                        background-size: cover;
                        height: 0;
                        padding-bottom: 60%;
                    "></div>
                </div>
                <div class="slide">
                    <div style="
                        background: url(http://lorempixel.com/1000/500/?3) center center;
                        background-size: cover;
                        height: 0;
                        padding-bottom: 60%;
                    "></div>
                </div>
                <div class="slide">
                    <div style="
                        background: url(http://lorempixel.com/1000/500/?4) center center;
                        background-size: cover;
                        height: 0;
                        padding-bottom: 60%;
                    "></div>
                </div>
                <div class="slide">
                    <div style="
                        background: url(http://lorempixel.com/1000/500/?5) center center;
                        background-size: cover;
                        height: 0;
                        padding-bottom: 60%;
                    "></div>
                </div>
        </div>
    </div>
</div>

