

<div class="dialog dialog--small">
    <div class="dialog__content dialog__content--pre">
        <p class="text-center">Pre header text</p>
    </div>
    <div class="dialog__content">
        <div class="dialog__header dialog-header">
            <div class="dialog-header__title dialog-header__title--center">
                Dialog small
            </div>
        </div>
        <div class="dialog__body dialog__body--padded">
            <div class="form__group">
                <div class="form__control form__control--text form__control--required">
                    <input class="form__text" maxlength="256" name="email" placeholder="Email" type="text">
                </div>
            </div>
            <div class="form__group">
                <div class="form__control form__control--text form__control--required">
                    <input class="form__text" maxlength="256" name="password" placeholder="Password" type="password">
                </div>
            </div>
        </div>
        <div class="dialog__footer dialog-footer">
            <div class="dialog-footer__actions dialog-footer__actions--center">
                <button class="btn btn--primary btn--full-width">Sign in</button>
            </div>
        </div>
    </div>
    <div class="dialog__content dialog__content--post">
        <p class="text-center">Sub footer text</p>
    </div>
</div>

