

<div class="dialog dialog--error">
    <div class="dialog__content dialog__content--shadow">
        <div class="dialog__header dialog-header">
            <div class="dialog-header__title dialog-header__title--center">
                Oops, we have a few errors.
            </div>
        </div>
        <div class="dialog__body dialog-section--padded">
            <p>
                Please review the following errors:
            <ul>
                <li>The email field is required.</li>
                <li>The username field is required.</li>
                <li>The password field is required.</li>
            </ul>
            </p>
        </div>
        <div class="dialog__footer dialog-footer">
            <div class="dialog-footer__actions dialog-footer__actions--center">
                <button class="btn btn--delete">Close</button>
            </div>
        </div>
    </div>
</div>

