

<div class="dialog">
    <div class="dialog__content dialog__content--pre">
        <p class="text-right">Pre header text</p>
    </div>
    <div class="dialog__content">
        <div class="dialog__header dialog-header">
            <div class="dialog-header__title dialog-header__title--right">
                Dialog right
            </div>
        </div>
        <div class="dialog__body dialog-section--padded">
            <p class="text-right">
                Pariatur aute exercitation excepteur labore dolor in minim enim.
                Elit do nisi fugiat qui qui consectetur irure consequat
                adipisicing duis esse anim pariatur. Laboris exercitation
                consectetur consectetur velit aute irure quis. Occaecat eu
                incididunt laborum ipsum laborum id et. Pariatur exercitation
                veniam enim cupidatat tempor quis fugiat occaecat id aute et
                duis incididunt ex ea Lorem.
            </p>
        </div>
        <div class="dialog__footer dialog-footer">
            <div class="dialog-footer__actions dialog-footer__actions--right">
                <button class="btn btn--primary">Action</button>
                <button class="btn btn--cancel">Cancel</button>
            </div>
        </div>
    </div>
    <div class="dialog__content dialog__content--post">
        <p class="text-right">Sub footer text</p>
    </div>
</div>

