

<div style="padding: 1rem;">
    <fieldset>
        <legend>Legend</legend>
        <div class="tabs tabs--borderless">
            <div class="tabs__nav">
                <a href="#tab-1" class="tab__label tab__label--active">First</a>
                <a href="#tab-2" class="tab__label">Second</a>
            </div>
            <div class="tabs__panels">
                <div class="tab__panel tab__panel--padded tab__panel--active" id="tab-1">
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">First name</label>
                            <div class="form__control form__control--input">
                                <input type="text" name="first_name" placeholder="" required autofocus>
                            </div>
                            <div class="form__help"></div>
                        </div>
                        <div class="form__group">
                            <label class="form__label">Last name</label>
                            <div class="form__control form__control--input">
                                <input type="text" name="first_name" placeholder="" required autofocus>
                            </div>
                            <div class="form__help"></div>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">Email</label>
                            <div class="form__control form__control--input">
                                <input type="email" name="first_name" placeholder="" required autofocus>
                            </div>
                            <div class="form__help"></div>
                        </div>
                    </div>
                </div>
                <div class="tab__panel tab__panel--padded" id="tab-2">
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">Card number</label>
                            <div class="form__control form__control--input">
                                <input type="text" name="first_name" placeholder="" required autofocus>
                            </div>
                            <div class="form__help"></div>
                        </div>
                        <div class="form__group form__group--required">
                            <label class="form__label">Expiry</label>
                            <div class="form__control form__control--input">
                                <input type="text" name="first_name" placeholder="MM/YY" required>
                            </div>
                            <div class="form__help"></div>
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">How did you hear about us?</label>
                            <div class="form__control form__control--input">
                                <input type="text" name="first_name" placeholder="" required>
                            </div>
                            <div class="form__help">50 characters maximum</div>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">Gender</label>
                            <div class="form__control form__control--select">
                                <select class="form__select" required>
                                    <option class="M">Male</option>
                                    <option class="F">Female</option>
                                    <option class="X">Prefer not to say</option>
                                </select>
                            </div>
                            <div class="form__help"></div>
                        </div>
                    </div>
                    <div class="form__row">
                        <form>
                            <div class="form__group">
                                <label class="form__label">Would you like to be contacted?</label>
                                <div class="form__control form__control--radio ">
                                    <ul>
                                        <li>
                                            <input type="radio" name="marketing" id="yes">
                                            <label for="yes" class="form__option-label">
                                                Send me marketing offers
                                            </label>
                                        </li>
                                        <li>
                                            <input type="radio" name="marketing" id="all">
                                            <label for="all" class="form__option-label">
                                                Send me marketing offers from you and your partners
                                            </label>
                                        </li>
                                        <li>
                                            <input type="radio" name="marketing" id="no">
                                            <label for="no" class="form__option-label">
                                                Please never contact me again
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form__help">We never pass on your details to third parties</div>
                            </div>
                        </form>
                    </div>
                    <p class="text-small text-grey">* Required</p>
                </div>
            </div>
        </div>
    </fieldset>


    <div class="tabs">
        <div class="tabs__nav">
            <a href="#tab-1" class="tab__label tab__label--active">First</a>
            <a href="#tab-2" class="tab__label">Second</a>
        </div>
        <div class="tabs__panels">
            <div class="tab__panel tab__panel--padded tab__panel--active" id="tab-1">
                <fieldset>
                    <legend>Test</legend>
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">First name</label>
                            <div class="form__control form__control--input">
                                <input type="text" name="first_name" placeholder="" required autofocus>
                            </div>
                            <div class="form__help"></div>
                        </div>
                        <div class="form__group">
                            <label class="form__label">Last name</label>
                            <div class="form__control form__control--input">
                                <input type="text" name="first_name" placeholder="" required autofocus>
                            </div>
                            <div class="form__help"></div>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group">
                            <label class="form__label">Email</label>
                            <div class="form__control form__control--input">
                                <input type="email" name="first_name" placeholder="" required autofocus>
                            </div>
                            <div class="form__help"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="tab__panel tab__panel--padded" id="tab-2">
                <div class="form__row">
                    <div class="form__group">
                        <label class="form__label">Card number</label>
                        <div class="form__control form__control--input">
                            <input type="text" name="first_name" placeholder="" required autofocus>
                        </div>
                        <div class="form__help"></div>
                    </div>
                    <div class="form__group form__group--required">
                        <label class="form__label">Expiry</label>
                        <div class="form__control form__control--input">
                            <input type="text" name="first_name" placeholder="MM/YY" required>
                        </div>
                        <div class="form__help"></div>
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__group">
                        <label class="form__label">How did you hear about us?</label>
                        <div class="form__control form__control--input">
                            <input type="text" name="first_name" placeholder="" required>
                        </div>
                        <div class="form__help">50 characters maximum</div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__group">
                        <label class="form__label">Gender</label>
                        <div class="form__control form__control--select">
                            <select class="form__select" required>
                                <option class="M">Male</option>
                                <option class="F">Female</option>
                                <option class="X">Prefer not to say</option>
                            </select>
                        </div>
                        <div class="form__help"></div>
                    </div>
                </div>
                <div class="form__row">
                    <form>
                        <div class="form__group">
                            <label class="form__label">Would you like to be contacted?</label>
                            <div class="form__control form__control--radio  form__control--input">
                                <ul>
                                    <li>
                                        <input type="radio" name="marketing" id="yes">
                                        <label for="yes" class="form__option-label">
                                            Send me marketing offers
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="marketing" id="all">
                                        <label for="all" class="form__option-label">
                                            Send me marketing offers from you and your partners
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="marketing" id="no">
                                        <label for="no" class="form__option-label">
                                            Please never contact me again
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="form__help">We never pass on your details to third parties</div>
                        </div>
                    </form>
                </div>
                <p class="text-small text-grey">* Required</p>
            </div>
        </div>
    </div>

</div>

