

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<div style="display: flex; flex-direction: row; align-items: flex-start; justify-content: space-around;">
    <div>
        <h4>Button Solid</h4>
        <p>
            <a href="" class="btn btn--large btn--primary" >Button Primary</a>
        </p>
        <p>
            <a href="" class="btn btn--large btn--create" >Button Success</a>
        </p>
        <p>
            <a href="" class="btn btn--large btn--change" >Button Change</a>
        </p>
        <p>
            <a href="" class="btn btn--large btn--delete" >Button Delete</a>
        </p>
        <p>
            <a href="" class="btn btn--large btn--cancel" >Button Cancel</a>
        </p>
    </div>

    <div>
        <h4>Button Outline</h4>
        <p>
            <a href="" class="btn btn--large btn--outline btn--primary" >Button Outline Primary</a>
        </p>
        <p>
            <a href="" class="btn btn--large btn--outline btn--create" >Button Outline Success</a>
        </p>
        <p>
            <a href="" class="btn btn--large btn--outline btn--change" >Button Outline Change</a>
        </p>
        <p>
            <a href="" class="btn btn--large btn--outline btn--delete" >Button Outline Delete</a>
        </p>
        <p>
            <a href="" class="btn btn--large btn--outline btn--cancel" >Button Cancel</a>
        </p>
    </div>

    <div>
        <h4>Button Link</h4>
        <p>
            <a href="" class="btn btn--large btn--link btn--primary" >Button Link Primary</a>
        </p>
        <p>
            <a href="" class="btn btn--large btn--link btn--create" >Button Link Success</a>
        </p>
        <p>
            <a href="" class="btn btn--large btn--link btn--change" >Button Link Change</a>
        </p>
        <p>
            <a href="" class="btn btn--large btn--link btn--delete" >Button Link Delete</a>
        </p>
        <p>
            <a href="" class="btn btn--large btn--link btn--cancel" >Button Link Cancel</a>
        </p>
    </div>
</div>



</body>
</html>

