

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<div style="padding: .75rem;">

	<form>
    <div class="form__group form__group--required form__group--error">
        <label class="form__label">Do you have access to the following?</label>
        <div class="form__control form__control--inline">
            <ul>
                <li>
                    <label for="car">
                        <input class="form__checkbox" type="checkbox" name="transport" id="car"> A car
                    </label>
                </li>
                <li>
                    <label for="motorbike">
                        <input class="form__checkbox" type="checkbox" name="transport" id="motorbike"> A motorbike
                    </label>
                </li>
                <li>
                    <label for="bicycle">
                        <input class="form__checkbox" type="checkbox" name="transport" id="bicycle"> A bicycle
                    </label>
                </li>
            </ul>
        </div>
        <div class="form__help">A valid choice is required</div>
    </div>
</form>


</div>

</body>
</html>

