

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<div style="padding: .75rem;">

	<form>
    <div class="form__group form__group--error">
        <label class="form__label">Do you have access to the following</label>
        <div class="form__error">Please select at least one</div>
        <div class="form__control form__control--checkbox">
            <label class="form__label">
                <input class="form__checkbox" type="checkbox"> A car
            </label>
            <label class="form__label">
                <input class="form__checkbox" type="checkbox"> A motorbike
            </label>
            <label class="form__label">
                <input class="form__checkbox" type="checkbox"> A bicycle
            </label>
        </div>
        <div class="form__help">This is required for your insurance policy</div>
    </div>
</form>

</div>

<!-- <script src="../../assets/main.js"></script> -->
</body>
</html>

