

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<!-- Start: @colour--default -->
<p class="">Everyday, re-imagined.</p>
<!-- End: @colour--default -->

<!-- Start: @colour--cyan -->
<p class="text-cyan">Everyday, re-imagined.</p>
<!-- End: @colour--cyan -->

<!-- Start: @colour--red -->
<p class="text-red">Everyday, re-imagined.</p>
<!-- End: @colour--red -->

<!-- Start: @colour--green -->
<p class="text-green">Everyday, re-imagined.</p>
<!-- End: @colour--green -->

<!-- Start: @colour--orange -->
<p class="text-orange">Everyday, re-imagined.</p>
<!-- End: @colour--orange -->

<!-- Start: @colour--white -->
<div style="background-color: #ddd;">
    <p class="text-white">Everyday, re-imagined.</p>
</div>
<!-- End: @colour--white -->

<!-- Start: @colour--gray-dark -->
<p class="text-grey--dark">Everyday, re-imagined.</p>
<!-- End: @colour--gray-dark -->

<!-- Start: @colour--grey-medium -->
<p class="text-grey--medium">Everyday, re-imagined.</p>
<!-- End: @colour--grey-medium -->

<!-- Start: @colour--grey-light -->
<p class="text-grey--light">Everyday, re-imagined.</p>
<!-- End: @colour--grey-light -->

<!-- Start: @colour--grey-lighter -->
<p class="text-grey--lighter">Everyday, re-imagined.</p>
<!-- End: @colour--grey-lighter -->


</body>
</html>

