

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
    <style media="screen">
        body{
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>

<div style="padding: .75rem; text-align: twitter;">

<div class="grid grid--collapse" style="text-align: center; margin-bottom: 2rem;">
    <div class="grid__span-12" style="background-color: #fff;">
        1
    </div>
</div>

<div class="grid grid--collapse" style="text-align: center; margin-bottom: 2rem;">
    <div class="grid__span-6" style="background-color: #fff;">
        1
    </div>
    <div class="grid__span-6" style="background-color: #fff;">
        2
    </div>
</div>

<div class="grid grid--collapse" style="text-align: center; margin-bottom: 2rem;">
    <div class="grid__span-4" style="background-color: #fff;">
        1
    </div>
    <div class="grid__span-4" style="background-color: #fff;">
        2
    </div>
    <div class="grid__span-4" style="background-color: #fff;">
        3
    </div>
</div>

<div class="grid grid--collapse" style="text-align: center; margin-bottom: 2rem;">
    <div class="grid__span-3" style="background-color: #fff;">
        1
    </div>
    <div class="grid__span-3" style="background-color: #fff;">
        2
    </div>
    <div class="grid__span-3" style="background-color: #fff;">
        3
    </div>
    <div class="grid__span-3" style="background-color: #fff;">
        4
    </div>
</div>

<div class="grid grid--collapse" style="text-align: center; margin-bottom: 2rem;">
    <div class="grid__span-2" style="background-color: #fff;">
        1
    </div>
    <div class="grid__span-2" style="background-color: #fff;">
        2
    </div>
    <div class="grid__span-2" style="background-color: #fff;">
        3
    </div>
    <div class="grid__span-2" style="background-color: #fff;">
        4
    </div>
    <div class="grid__span-2" style="background-color: #fff;">
        5
    </div>
    <div class="grid__span-2" style="background-color: #fff;">
        6
    </div>
</div>

<div class="grid grid--collapse" style="text-align: center;">
    <div class="grid__span-1" style="background-color: #fff;">
        1
    </div>
    <div class="grid__span-1" style="background-color: #fff;">
        2
    </div>
    <div class="grid__span-1" style="background-color: #fff;">
        3
    </div>
    <div class="grid__span-1" style="background-color: #fff;">
        4
    </div>
    <div class="grid__span-1" style="background-color: #fff;">
        5
    </div>
    <div class="grid__span-1" style="background-color: #fff;">
        6
    </div>
    <div class="grid__span-1" style="background-color: #fff;">
        7
    </div>
    <div class="grid__span-1" style="background-color: #fff;">
        8
    </div>
    <div class="grid__span-1" style="background-color: #fff;">
        9
    </div>
    <div class="grid__span-1" style="background-color: #fff;">
        10
    </div>
    <div class="grid__span-1" style="background-color: #fff;">
        11
    </div>
    <div class="grid__span-1" style="background-color: #fff;">
        12
    </div>
</div>


</div>

<!-- <script src="../../assets/main.js"></script> -->

</body>
</html>

