

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
    <style media="screen">
        body{
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>

<div style="padding: .75rem; text-align: twitter;">

<div class="grid grid--break-mobile">
    <div class="grid__span-11 grid__pull-1">
        Pull 1
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-10 grid__pull-2">
        Pull 2
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-9 grid__pull-3">
        Pull 3
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-8 grid__pull-4">
        Pull 4
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-7 grid__pull-5">
        Pull 5
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-6 grid__pull-6">
        Pull 6
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-5 grid__pull-7">
        Pull 7
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-4 grid__pull-8">
        Pull 8
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-3 grid__pull-9">
        Pull 9
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-2 grid__pull-10">
        Pull 10
    </div>
</div>
<div class="grid grid--break-mobile">
    <div class="grid__span-1 grid__pull-11">
        Pull 11
    </div>
</div>


<style>
    .grid {
        text-align: center;
        margin-bottom: 2rem;
    }
    .grid > div {
         background-color: #fff;
    }
</style>


</div>

</body>
</html>

