

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<h1 class="text-jumbo">We're a digital application partner to better, faster, smarter businesses.</h1>
<h1>We're a digital application partner to better, faster, smarter businesses.</h1>
<h2>We're a digital application partner to better, faster, smarter businesses.</h2>
<h3>We're a digital application partner to better, faster, smarter businesses.</h3>
<h4>We're a digital application partner to better, faster, smarter businesses.</h4>
<h5>We're a digital application partner to better, faster, smarter businesses.</h5>
<h6>We're a digital application partner to better, faster, smarter businesses.</h6>


</body>
</html>

