

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<div style="padding: 2.5rem .5rem">

<a class="btn btn--primary tooltip tooltip--top-left" data-tooltip="This is a top left tooltip" style="margin-bottom: 2.5rem;">An example button</a>

<a class="btn btn--primary tooltip tooltip--top-center" data-tooltip="This is a top center tooltip" style="margin-bottom: 2.5rem;">An example button</a>

<a class="btn btn--primary tooltip tooltip--top-right" data-tooltip="This is a top right tooltip" style="margin-bottom: 2.5rem;">An example button</a>

<br/>

<a class="btn btn--primary tooltip tooltip--bottom-left" data-tooltip="This is a bottom left tooltip" style="margin-bottom: 2.5rem;">An example button</a>

<a class="btn btn--primary tooltip tooltip--bottom-center" data-tooltip="This is a bottom center tooltip" style="margin-bottom: 2.5rem;">An example button</a>

<a class="btn btn--primary tooltip tooltip--bottom-right" data-tooltip="This is a bottom right tooltip" style="margin-bottom: 2.5rem;">An example button</a>


</div>

</body>
</html>

