

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body class="no-scroll">

<p>Anim aliquip cupidatat do qui amet ea id dolore eu. Aliquip proident ut ut mollit enim labore exercitation reprehenderit magna duis velit cupidatat do. Laboris amet et cupidatat ipsum et magna nostrud adipisicing ipsum est fugiat.</p>
<p>Ad elit culpa ipsum laboris pariatur elit excepteur aliquip incididunt. Eiusmod occaecat consectetur aliquip eiusmod velit non voluptate exercitation proident ex veniam id cupidatat commodo. Quis ea reprehenderit id sit duis id non esse. Ut exercitation id dolore cillum elit Lorem aliqua laboris do fugiat nulla nulla ipsum dolor cillum irure. Cupidatat labore adipisicing ipsum minim exercitation veniam aute. Aliqua excepteur elit consectetur deserunt sunt Lorem eiusmod. Ex nulla proident non magna cillum quis sit reprehenderit aliquip consectetur fugiat occaecat duis amet fugiat. Ea labore eiusmod ea quis nulla est in sint tempor veniam.</p>
<p>Nulla culpa laboris commodo ad mollit ea non cupidatat cupidatat Lorem nisi et enim officia ullamco excepteur laborum. Labore duis ea et sint reprehenderit anim id mollit pariatur mollit sint et quis sunt enim exercitation. Qui occaecat nostrud aliquip minim deserunt amet veniam et deserunt magna commodo commodo ex non. Esse proident reprehenderit ad nostrud dolor in do exercitation anim qui magna dolor exercitation quis proident nisi. Labore quis aliquip officia aliquip sit dolor ex mollit minim aute amet veniam exercitation nulla culpa. Excepteur do qui duis ullamco magna sit officia fugiat ex sit aute magna eu exercitation magna. Velit duis qui ea est elit minim mollit sit velit duis est. Duis labore magna aute reprehenderit sit elit laboris sunt Lorem aliquip aliqua excepteur aute.</p>
<button type="button" name="button" class="btn btn--primary open-dialog">Open modal</button>
<p>Pariatur aute exercitation excepteur labore dolor in minim enim. Elit do nisi fugiat qui qui consectetur irure consequat adipisicing duis esse anim pariatur. Laboris exercitation consectetur consectetur velit aute irure quis. Occaecat eu incididunt laborum ipsum laborum id et. Pariatur exercitation veniam enim cupidatat tempor quis fugiat occaecat id aute et duis incididunt ex ea Lorem.</p>
<p>Anim aliquip cupidatat do qui amet ea id dolore eu. Aliquip proident ut ut mollit enim labore exercitation reprehenderit magna duis velit cupidatat do. Laboris amet et cupidatat ipsum et magna nostrud adipisicing ipsum est fugiat.</p>
<p>Ad elit culpa ipsum laboris pariatur elit excepteur aliquip incididunt. Eiusmod occaecat consectetur aliquip eiusmod velit non voluptate exercitation proident ex veniam id cupidatat commodo. Quis ea reprehenderit id sit duis id non esse. Ut exercitation id dolore cillum elit Lorem aliqua laboris do fugiat nulla nulla ipsum dolor cillum irure. Cupidatat labore adipisicing ipsum minim exercitation veniam aute. Aliqua excepteur elit consectetur deserunt sunt Lorem eiusmod. Ex nulla proident non magna cillum quis sit reprehenderit aliquip consectetur fugiat occaecat duis amet fugiat. Ea labore eiusmod ea quis nulla est in sint tempor veniam.</p>
<p>Nulla culpa laboris commodo ad mollit ea non cupidatat cupidatat Lorem nisi et enim officia ullamco excepteur laborum. Labore duis ea et sint reprehenderit anim id mollit pariatur mollit sint et quis sunt enim exercitation. Qui occaecat nostrud aliquip minim deserunt amet veniam et deserunt magna commodo commodo ex non. Esse proident reprehenderit ad nostrud dolor in do exercitation anim qui magna dolor exercitation quis proident nisi. Labore quis aliquip officia aliquip sit dolor ex mollit minim aute amet veniam exercitation nulla culpa. Excepteur do qui duis ullamco magna sit officia fugiat ex sit aute magna eu exercitation magna. Velit duis qui ea est elit minim mollit sit velit duis est. Duis labore magna aute reprehenderit sit elit laboris sunt Lorem aliquip aliqua excepteur aute.</p>
<p>Pariatur aute exercitation excepteur labore dolor in minim enim. Elit do nisi fugiat qui qui consectetur irure consequat adipisicing duis esse anim pariatur. Laboris exercitation consectetur consectetur velit aute irure quis. Occaecat eu incididunt laborum ipsum laborum id et. Pariatur exercitation veniam enim cupidatat tempor quis fugiat occaecat id aute et duis incididunt ex ea Lorem.</p>
<p>Anim aliquip cupidatat do qui amet ea id dolore eu. Aliquip proident ut ut mollit enim labore exercitation reprehenderit magna duis velit cupidatat do. Laboris amet et cupidatat ipsum et magna nostrud adipisicing ipsum est fugiat.</p>
<p>Ad elit culpa ipsum laboris pariatur elit excepteur aliquip incididunt. Eiusmod occaecat consectetur aliquip eiusmod velit non voluptate exercitation proident ex veniam id cupidatat commodo. Quis ea reprehenderit id sit duis id non esse. Ut exercitation id dolore cillum elit Lorem aliqua laboris do fugiat nulla nulla ipsum dolor cillum irure. Cupidatat labore adipisicing ipsum minim exercitation veniam aute. Aliqua excepteur elit consectetur deserunt sunt Lorem eiusmod. Ex nulla proident non magna cillum quis sit reprehenderit aliquip consectetur fugiat occaecat duis amet fugiat. Ea labore eiusmod ea quis nulla est in sint tempor veniam.</p>
<p>Nulla culpa laboris commodo ad mollit ea non cupidatat cupidatat Lorem nisi et enim officia ullamco excepteur laborum. Labore duis ea et sint reprehenderit anim id mollit pariatur mollit sint et quis sunt enim exercitation. Qui occaecat nostrud aliquip minim deserunt amet veniam et deserunt magna commodo commodo ex non. Esse proident reprehenderit ad nostrud dolor in do exercitation anim qui magna dolor exercitation quis proident nisi. Labore quis aliquip officia aliquip sit dolor ex mollit minim aute amet veniam exercitation nulla culpa. Excepteur do qui duis ullamco magna sit officia fugiat ex sit aute magna eu exercitation magna. Velit duis qui ea est elit minim mollit sit velit duis est. Duis labore magna aute reprehenderit sit elit laboris sunt Lorem aliquip aliqua excepteur aute.</p>
<button type="button" name="button" class="btn btn--primary open-dialog">Open modal</button>
<p>Pariatur aute exercitation excepteur labore dolor in minim enim. Elit do nisi fugiat qui qui consectetur irure consequat adipisicing duis esse anim pariatur. Laboris exercitation consectetur consectetur velit aute irure quis. Occaecat eu incididunt laborum ipsum laborum id et. Pariatur exercitation veniam enim cupidatat tempor quis fugiat occaecat id aute et duis incididunt ex ea Lorem.</p>
<p>Anim aliquip cupidatat do qui amet ea id dolore eu. Aliquip proident ut ut mollit enim labore exercitation reprehenderit magna duis velit cupidatat do. Laboris amet et cupidatat ipsum et magna nostrud adipisicing ipsum est fugiat.</p>
<p>Ad elit culpa ipsum laboris pariatur elit excepteur aliquip incididunt. Eiusmod occaecat consectetur aliquip eiusmod velit non voluptate exercitation proident ex veniam id cupidatat commodo. Quis ea reprehenderit id sit duis id non esse. Ut exercitation id dolore cillum elit Lorem aliqua laboris do fugiat nulla nulla ipsum dolor cillum irure. Cupidatat labore adipisicing ipsum minim exercitation veniam aute. Aliqua excepteur elit consectetur deserunt sunt Lorem eiusmod. Ex nulla proident non magna cillum quis sit reprehenderit aliquip consectetur fugiat occaecat duis amet fugiat. Ea labore eiusmod ea quis nulla est in sint tempor veniam.</p>
<p>Nulla culpa laboris commodo ad mollit ea non cupidatat cupidatat Lorem nisi et enim officia ullamco excepteur laborum. Labore duis ea et sint reprehenderit anim id mollit pariatur mollit sint et quis sunt enim exercitation. Qui occaecat nostrud aliquip minim deserunt amet veniam et deserunt magna commodo commodo ex non. Esse proident reprehenderit ad nostrud dolor in do exercitation anim qui magna dolor exercitation quis proident nisi. Labore quis aliquip officia aliquip sit dolor ex mollit minim aute amet veniam exercitation nulla culpa. Excepteur do qui duis ullamco magna sit officia fugiat ex sit aute magna eu exercitation magna. Velit duis qui ea est elit minim mollit sit velit duis est. Duis labore magna aute reprehenderit sit elit laboris sunt Lorem aliquip aliqua excepteur aute.</p>
<p>Pariatur aute exercitation excepteur labore dolor in minim enim. Elit do nisi fugiat qui qui consectetur irure consequat adipisicing duis esse anim pariatur. Laboris exercitation consectetur consectetur velit aute irure quis. Occaecat eu incididunt laborum ipsum laborum id et. Pariatur exercitation veniam enim cupidatat tempor quis fugiat occaecat id aute et duis incididunt ex ea Lorem.</p>
<p>Anim aliquip cupidatat do qui amet ea id dolore eu. Aliquip proident ut ut mollit enim labore exercitation reprehenderit magna duis velit cupidatat do. Laboris amet et cupidatat ipsum et magna nostrud adipisicing ipsum est fugiat.</p>
<p>Ad elit culpa ipsum laboris pariatur elit excepteur aliquip incididunt. Eiusmod occaecat consectetur aliquip eiusmod velit non voluptate exercitation proident ex veniam id cupidatat commodo. Quis ea reprehenderit id sit duis id non esse. Ut exercitation id dolore cillum elit Lorem aliqua laboris do fugiat nulla nulla ipsum dolor cillum irure. Cupidatat labore adipisicing ipsum minim exercitation veniam aute. Aliqua excepteur elit consectetur deserunt sunt Lorem eiusmod. Ex nulla proident non magna cillum quis sit reprehenderit aliquip consectetur fugiat occaecat duis amet fugiat. Ea labore eiusmod ea quis nulla est in sint tempor veniam.</p>
<p>Nulla culpa laboris commodo ad mollit ea non cupidatat cupidatat Lorem nisi et enim officia ullamco excepteur laborum. Labore duis ea et sint reprehenderit anim id mollit pariatur mollit sint et quis sunt enim exercitation. Qui occaecat nostrud aliquip minim deserunt amet veniam et deserunt magna commodo commodo ex non. Esse proident reprehenderit ad nostrud dolor in do exercitation anim qui magna dolor exercitation quis proident nisi. Labore quis aliquip officia aliquip sit dolor ex mollit minim aute amet veniam exercitation nulla culpa. Excepteur do qui duis ullamco magna sit officia fugiat ex sit aute magna eu exercitation magna. Velit duis qui ea est elit minim mollit sit velit duis est. Duis labore magna aute reprehenderit sit elit laboris sunt Lorem aliquip aliqua excepteur aute.</p>
<p>Pariatur aute exercitation excepteur labore dolor in minim enim. Elit do nisi fugiat qui qui consectetur irure consequat adipisicing duis esse anim pariatur. Laboris exercitation consectetur consectetur velit aute irure quis. Occaecat eu incididunt laborum ipsum laborum id et. Pariatur exercitation veniam enim cupidatat tempor quis fugiat occaecat id aute et duis incididunt ex ea Lorem.</p>
<p>Anim aliquip cupidatat do qui amet ea id dolore eu. Aliquip proident ut ut mollit enim labore exercitation reprehenderit magna duis velit cupidatat do. Laboris amet et cupidatat ipsum et magna nostrud adipisicing ipsum est fugiat.</p>
<button type="button" name="button" class="btn btn--primary open-dialog">Open modal</button>
<p>Ad elit culpa ipsum laboris pariatur elit excepteur aliquip incididunt. Eiusmod occaecat consectetur aliquip eiusmod velit non voluptate exercitation proident ex veniam id cupidatat commodo. Quis ea reprehenderit id sit duis id non esse. Ut exercitation id dolore cillum elit Lorem aliqua laboris do fugiat nulla nulla ipsum dolor cillum irure. Cupidatat labore adipisicing ipsum minim exercitation veniam aute. Aliqua excepteur elit consectetur deserunt sunt Lorem eiusmod. Ex nulla proident non magna cillum quis sit reprehenderit aliquip consectetur fugiat occaecat duis amet fugiat. Ea labore eiusmod ea quis nulla est in sint tempor veniam.</p>
<p>Nulla culpa laboris commodo ad mollit ea non cupidatat cupidatat Lorem nisi et enim officia ullamco excepteur laborum. Labore duis ea et sint reprehenderit anim id mollit pariatur mollit sint et quis sunt enim exercitation. Qui occaecat nostrud aliquip minim deserunt amet veniam et deserunt magna commodo commodo ex non. Esse proident reprehenderit ad nostrud dolor in do exercitation anim qui magna dolor exercitation quis proident nisi. Labore quis aliquip officia aliquip sit dolor ex mollit minim aute amet veniam exercitation nulla culpa. Excepteur do qui duis ullamco magna sit officia fugiat ex sit aute magna eu exercitation magna. Velit duis qui ea est elit minim mollit sit velit duis est. Duis labore magna aute reprehenderit sit elit laboris sunt Lorem aliquip aliqua excepteur aute.</p>
<p>Pariatur aute exercitation excepteur labore dolor in minim enim. Elit do nisi fugiat qui qui consectetur irure consequat adipisicing duis esse anim pariatur. Laboris exercitation consectetur consectetur velit aute irure quis. Occaecat eu incididunt laborum ipsum laborum id et. Pariatur exercitation veniam enim cupidatat tempor quis fugiat occaecat id aute et duis incididunt ex ea Lorem.</p>

<div class="dialog dialog--modal dialog--modal-open ">
    <div class="dialog__content">
        <div class="dialog__header dialog-header dialog-section--padded">
            <div class="dialog-header__title ">
                Modal title
            </div>
            <div class="dialog-header__action dialog-header__action--right">
                <button type="button" class="dialog-header__action-btn close-dialog">
                    close
                    <span class="fa fa-close"></span>
                </button>
            </div>
        </div>
        <div class="dialog__body dialog-section--padded">
            <p class="">Pariatur aute exercitation excepteur labore dolor in minim enim. Elit do nisi fugiat qui qui consectetur irure consequat adipisicing duis esse anim pariatur. Laboris exercitation consectetur consectetur velit aute irure quis. Occaecat eu incididunt laborum ipsum laborum id et. Pariatur exercitation veniam enim cupidatat tempor quis fugiat occaecat id aute et duis incididunt ex ea Lorem.</p>
        </div>
        <div class="dialog__footer dialog-footer dialog-section--padded">
            <div class="dialog-footer__actions">
                <button class="btn btn--primary">Save</button>
            </div>
            <div class="dialog-footer__actions">
                <button class="btn btn--cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var modal = document.querySelector('.dialog');
    var btn = document.querySelectorAll('.open-dialog');
    var close = document.querySelectorAll('.close-dialog');
    modal.addEventListener('click', function(e){
        if(e.target.classList.contains('dialog')){
            modal.classList.remove('dialog--modal-open')
            document.body.className = "";
        }

    })
    for (var i = 0; i < btn.length; i++) {
        btn[i].addEventListener('click', function(e){
            e.preventDefault();
            modal.classList.add('dialog--modal-open')
            document.body.className = "no-scroll";
        })
    }
    for (var i = 0; i < close.length; i++) {
        close[i].addEventListener('click', function(e){
            e.preventDefault();
            modal.classList.remove('dialog--modal-open')
            document.body.className = "";
        })
    }
</script>


</body>
</html>

