

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>
    <p>For businesses (big and small), innovation can be seen as a nonessential investment. It’s often perceived to be too costly or time-intensive, or simply something that has never been needed and so why start now? But whilst many businesses fail to consider innovation as a necessary requirement. This in itself can be a risky strategy. Moreover, it is those that lead the evolution that will often enjoy the most success.</p>
<p>I'm sure many businesses have had grand ideas of creating real impact in their industry and setting new standards. But the cold reality is that we often get caught up in the day-to-day of managing problems more than we do exploring bigger plans for the long-term. And in feeling overwhelmed, we in turn struggle to find the time and space to begin challenging ourselves on what can be achieved if and when we put our mind to it.</p>
<p>But at Cotidia, we believe it is exactly in the day-to-day that we can start to innovate and make small business wins that slowly, over time, give us the breathing space to focus on the bigger picture.</p>

    <script src="../../assets/js/sixteen.form.js"></script>
    <script src="../../assets/js/sixteen.tabs.js"></script>
</body>
</html>

