

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<div style="padding: .5rem;">

<p>A var being used: <var>x</var> = <var>y</var> + 2</p>

<p>A code tag being used to show <code>a piece of computer code</code></p>

<p>Using the samp tag defines <samp>sample output from a computer program</samp></p>

<p>Using the kdb tag to show keys, such as <kbd>CMD</kbd> + <kbd>V</kbd></p>

</div>

<!-- <script src="../../assets/main.js"></script> -->

</body>
</html>

