

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<div style="padding: .75rem;">

    <form>
    <div class="form__group form__group--error">
        <label class="form__label">Would you like to receive any future communication?</label>
        <div class="form__control">
            <ul>
                <li>
                    <input type="radio" name="marketing" id="yes">
                    <label for="yes" class="form__option-label">
                        Send me marketing offers
                    </label>
                </li>
                <li>
                    <input type="radio" name="marketing" id="all">
                    <label for="all" class="form__option-label">
                        Send me marketing offers from you and your partners
                    </label>
                </li>
                <li>
                    <input type="radio" name="marketing" id="no">
                    <label for="no" class="form__option-label">
                        Please never contact me again
                    </label>
                </li>
            </ul>
        </div>
        <div class="form__help">Please select an option</div>
    </div>
</form>


</div>

<script>
    var elms = document.querySelectorAll('input');
    elms.forEach(function(elm) {
        elm.addEventListener('focus', function() {
            elm.parentNode.parentNode.classList.add("form__group--active")
        })
        elm.addEventListener('blur', function() {
            elm.parentNode.parentNode.classList.remove("form__group--active")
        })
    })
</script>

</body>
</html>

