

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<div class="content-inner">
    <form>
        <div class="form__group">
            <div class="form__control form__control--select control-select control-select--focus">
                <input type="hidden" name="type" value="bf8dca97-3c36-4843-9941-c2695414fd21">
                <input type="text" class="form__select" id="id_type" name="type_selector" placeholder="Primary crew type" value="Videographer">
                <div class="control-select__options" style="top: 40px;">
                    <div class="control-select__group">
                        <div class="control-select__group-heading">Camera</div>
                        <div class="control-select__option control-select__option--focused control-select__option--selected"><span><span></span><span class="control-select__option--highlighted"></span><span>Videographer</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>First AC</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>DIT</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Steadycam Operator</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Photographer</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Drone / Aerial Cam</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>VR</span></span></div>
                    </div>
                    <div class="control-select__group">
                        <div class="control-select__group-heading">Production</div><div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Field producer / Production coordinator / UPM</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Production Assistant</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Teleprompter</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Make up artist</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Hair stylist</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Wardrobe stylist</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Production designer</span></span></div>
                    </div>
                    <div class="control-select__group">
                        <div class="control-select__group-heading">Sound</div><div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Sound Mixer</span></span></div>
                    </div>
                    <div class="control-select__group">
                        <div class="control-select__group-heading">Post Production</div><div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Editor</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Animator, VFX, Motion graphics artist</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Colorist</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Post sound mix and edit</span></span></div>
                    </div>
                    <div class="control-select__group">
                        <div class="control-select__group-heading">Lighting</div><div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Gaffer</span></span></div>
                        <div class="control-select__option"><span><span></span><span class="control-select__option--highlighted"></span><span>Key grip</span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- <script src="../../assets/main.js"></script> -->
</body>
</html>

