

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<!-- Start: @size--default -->
<p class=""></p>
<!-- End: @size--default -->

<!-- Start: @size--jumbo -->
<p class="text-jumbo">Jumbo</p>
<!-- End: @size--jumbo -->

<!-- Start: @size--hero -->
<p class="text-hero">Hero</p>
<!-- End: @size--hero -->

<!-- Start: @size--large -->
<p class="text-large">Large</p>
<!-- End: @size--large -->

<!-- Start: @size--medium -->
<p class="text-medium">Medium</p>
<!-- End: @size--medium -->

<!-- Start: @size--emphasis -->
<p class="text-emphasis">Emphasis</p>
<!-- End: @size--emphasis -->

<!-- Start: @size--normal -->
<p class="">Normal</p>
<!-- End: @size--normal -->

<!-- Start: @size--small -->
<p class="text-small">Small</p>
<!-- End: @size--small -->


</body>
</html>

