

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<!-- Start: @style--default -->
<p class="">Default</p>
<!-- End: @style--default -->

<!-- Start: @style--align-right -->
<p class="text-right">Align right</p>
<!-- End: @style--align-right -->

<!-- Start: @style--align-left -->
<p class="text-left">Align left</p>
<!-- End: @style--align-left -->

<!-- Start: @style--align-center -->
<p class="text-center">Align center</p>
<!-- End: @style--align-center -->

<!-- Start: @style--strong -->
<p class="text-strong">Strong</p>
<!-- End: @style--strong -->

<!-- Start: @style--italic -->
<p class="text-italic">Italic</p>
<!-- End: @style--italic -->

<!-- Start: @style--caps -->
<p class="text-caps">Small caps</p>
<!-- End: @style--caps -->

<!-- Start: @style--uppercase -->
<p class="text-uppercase">Uppercase</p>
<!-- End: @style--uppercase -->

<!-- Start: @style--lowercase -->
<p class="text-lowercase">Lowercase</p>
<!-- End: @style--lowercase -->


<!-- <script src="../../assets/main.js"></script> -->
</body>
</html>

