

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<div style="padding: .75rem;">

    <form>
    <div class="form__group">
        <div class="form__control form__control--select control-select control-select--focus">
            <input type="hidden" name="type" value="bf8dca97-3c36-4843-9941-c2695414fd21">
            <input type="text" class="form__select" id="id_type" name="type_selector" placeholder="Primary crew type" value="Videographer">
            <div class="control-select__options">
                <div class="control-select__group">
                    <div class="control-select__group-heading">Camera</div>
                    <div class="control-select__option control-select__option--focused control-select__option--selected">
                        Videographer
                    </div>
                    <div class="control-select__option">
                        First AC
                    </div>
                    <div class="control-select__option">
                        DIT
                    </div>
                    <div class="control-select__option">
                        Steadycam Operator
                    </div>
                    <div class="control-select__option">
                        Photographer
                    </div>
                    <div class="control-select__option">
                        Drone / Aerial Cam
                    </div>
                    <div class="control-select__option">
                        VR
                    </div>
                </div>
                <div class="control-select__group">
                    <div class="control-select__group-heading">Production</div>
                    <div class="control-select__option">
                        Field producer / Production coordinator / UPM
                    </div>
                    <div class="control-select__option">
                        Production Assistant
                    </div>
                    <div class="control-select__option">
                        Teleprompter
                    </div>
                    <div class="control-select__option">
                        Make up artist
                    </div>
                    <div class="control-select__option">
                        Hair stylist
                    </div>
                    <div class="control-select__option">
                        Wardrobe stylist
                    </div>
                    <div class="control-select__option">
                        Production designer
                    </div>
                </div>
                <div class="control-select__group">
                    <div class="control-select__group-heading">Sound</div>
                    <div class="control-select__option">
                        Sound Mixer
                    </div>
                </div>
                <div class="control-select__group">
                    <div class="control-select__group-heading">Post Production</div>
                    <div class="control-select__option">
                        Editor
                    </div>
                    <div class="control-select__option">
                        Animator, VFX, Motion graphics artist
                    </div>
                    <div class="control-select__option">
                        Colorist
                    </div>
                    <div class="control-select__option">
                        Post sound mix and edit
                    </div>
                </div>
                <div class="control-select__group">
                    <div class="control-select__group-heading">Lighting</div>
                    <div class="control-select__option">
                        Gaffer
                    </div>
                    <div class="control-select__option">
                        Key grip
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


</div>

<script>
    var elms = document.querySelectorAll('input');
    elms.forEach(function(elm) {
        elm.addEventListener('focus', function() {
            elm.parentNode.parentNode.classList.add("form__group--active")
        })
        elm.addEventListener('blur', function() {
            elm.parentNode.parentNode.classList.remove("form__group--active")
        })
    })
</script>

</body>
</html>

