

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<table class="table">
    <thead>
        <tr>
            <th>
                Rank
            </th>
            <th>
                Country
            </th>
            <th>
                Population
            </th>
            <th>
                % of world population
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-header="Rank">1</td>
            <td data-header="Country">China</td>
            <td data-header="Rank">1,379,880,000</td>
            <td data-header="% of world population">18.5%</td>
        </tr>
        <tr>
            <td data-header="Rank">2</td>
            <td data-header="Country">India</td>
            <td data-header="Population">1,330,780,000</td>
            <td data-header="% of world population">17.8%</td>
        </tr>
        <tr>
            <td data-header="Rank">3</td>
            <td data-header="Country">United States</td>
            <td data-header="Population">324,933,000</td>
            <td data-header="% of world population">4.35%</td>
        </tr>
        <tr>
            <td data-header="Rank">4</td>
            <td data-header="Country">Indonesia</td>
            <td data-header="Population">260,581,000</td>
            <td data-header="% of world population">3.49%</td>
        </tr>
        <tr>
            <td data-header="Rank">5</td>
            <td data-header="Country">Brazil</td>
            <td data-header="Population">206,951,000</td>
            <td data-header="% of world population">2.77%</td>
        </tr>
    </tbody>
</table>


</body>
</html>

