

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<table class="table table--clickable">
    <thead>
        <tr>
            <th>
                Rank
            </th>
            <th>
                Country
            </th>
            <th>
                Population
            </th>
            <th>
                % of world population
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-row">
            <td>1</td>
            <td>China</td>
            <td>1,379,880,000</td>
            <td>18.5%</td>
        </tr>
        <tr class="table-row">
            <td>2</td>
            <td>India</td>
            <td>1,330,780,000</td>
            <td>17.8%</td>
        </tr>
        <tr class="table-row">
            <td>3</td>
            <td>United States</td>
            <td>324,933,000</td>
            <td>4.35%</td>
        </tr>
        <tr class="table-row">
            <td>4</td>
            <td>Indonesia</td>
            <td>260,581,000</td>
            <td>3.49%</td>
        </tr>
        <tr class="table-row">
            <td>5</td>
            <td>Brazil</td>
            <td>206,951,000</td>
            <td>2.77%</td>
        </tr>
    </tbody>
</table>


<!-- <script src="../../assets/main.js"></script> -->
</body>
</html>

