

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>
<div style="padding: 1rem;">
    <div class="tabs">
        <div class="tabs__nav">
            <a href="#tab-1" class="tab__label tab__label--active">First</a>
            <a href="#tab-2" class="tab__label">Second</a>
            <a href="#tab-3" class="tab__label">Third</a>
            <a href="#tab-4" class="tab__label">Fourth</a>
            <a href="#tab-5" class="tab__label">
                <span class="fa fa-pencil"></span>
                Fifth
            </a>
            <a href="#tab-6" class="tab__label">
                <span class="fa fa-camera"></span>
            </a>
        </div>
        <div class="tabs__panels">
            <div class="tab__panel tab__panel--padded tab__panel--active" id="tab-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sit voluptate, commodi voluptatibus doloremque inventore? Neque inventore vitae, provident debitis, necessitatibus facilis a molestias recusandae eius, sunt quo exercitationem itaque.</div>
            <div class="tab__panel tab__panel--padded" id="tab-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores delectus maxime quaerat fuga harum ex modi dolorem eius alias, labore repellat beatae omnis eligendi perferendis! Incidunt minus dolorum eum velit.</div>
            <div class="tab__panel tab__panel--padded" id="tab-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nesciunt eaque alias eligendi neque blanditiis ad soluta doloribus repellendus deserunt nobis libero magnam eius, quia dicta aliquam, laboriosam illo suscipit!</div>
            <div class="tab__panel tab__panel--padded" id="tab-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quisquam hic voluptatibus illum accusamus distinctio, modi. Quos sit iste, corporis temporibus alias eius adipisci soluta voluptas tempore iure mollitia neque.</div>
            <div class="tab__panel tab__panel--padded" id="tab-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae alias quasi fugiat cum, vitae illum, amet reprehenderit voluptatum nulla nam consectetur perferendis optio sit deleniti corporis pariatur eligendi modi! Harum!</div>
            <div class="tab__panel tab__panel--padded" id="tab-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
    </div>
</div>


<script src="../../assets/js/sixteen.tabs.js"></script>

</body>
</html>

