

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<div style="padding: .75rem;">

    <div class="form__group">
    <label class="form__label">URL</label>
    <div class="form__control">
        <input type="url" name="first_name" placeholder="">
    </div>
    <div class="form__help">A valid URL is required</div>
</div>


</div>

<script>
    var elms = document.querySelectorAll('input');
    elms.forEach(function(elm) {
        elm.addEventListener('focus', function() {
            elm.parentNode.parentNode.classList.add("form__group--active")
        })
        elm.addEventListener('blur', function() {
            elm.parentNode.parentNode.classList.remove("form__group--active")
        })
    })
</script>

</body>
</html>

