

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body style="padding: 1rem;">
    <div class="form__group">
    <label class="form__label">First name</label>
    <div class="form__control form__control--textarea">
        <textarea name="description" placeholder="Enter a description"></textarea>
    </div>
    <div class="form__help">Some helpful information</div>
</div>

    <script src="../../assets/js/sixteen.form.js"></script>
</body>
</html>

