

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/build.css">
    <title>Preview test</title>
</head>
<body>

<div class="hidden">
    Hidden
</div>
<div class="hidden-mobile">
    Hidden (mobile)
</div>
<div class="hidden-tablet">
    Hidden (tablet)
</div>
<div class="hidden-laptop">
    Hidden (laptop)
</div>
<div class="hidden-desktop">
    Hidden (desktop)
</div>

<div class="hidden-sr">
    Hidden on screen readers
</div>
<div class="hidden-sr-mobile">
    Hidden on screen readers (mobile)
</div>
<div class="hidden-sr-tablet">
    Hidden on screen readers (tablet)
</div>
<div class="hidden-sr-laptop">
    Hidden on screen readers (laptop)
</div>
<div class="hidden-sr-desktop">
    Hidden on screen readers (desktop)
</div>


<!-- <script src="../../assets/main.js"></script> -->
</body>
</html>

